/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #ffffff;
    color: #2d2d2d;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}

.wrap>div {
    padding: 10px;
    text-align: center;
    margin: auto;
}

.btn {
    max-width: 100px;
    border-style: none;
	color: white;
    padding: 6px;
    text-decoration: none;
    font-size: large;
    background-color: #48B04C;
    font-family: sans-serif;
	height: 34px;
}

.btn:hover {
    background-color: rgba(92,196,96,1);
    border-style: none;
    cursor: pointer;
}

form {
    font-size: large;
}

.email,
.password {
    font-size: large;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 1px;
}

.email:hover,
.email:active,
.email:focus,
.password:hover,
.password:active,
.password:focus {
    border-color: #007aff;
    outline: none;
}

.headline {
    font-size: x-large;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
}

#current_user>div {
    width: 25%;
}

#input>div {
    width: 80%;
}

#output>div {
    width: 40%;
}

header {
    width: 100%;
    margin: auto;
    height: 40px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    background: rgba(255,255,255,1);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

header>div,
footer>div {
    padding: 11px;
    margin: auto;
    text-align: center;
}

header>.left {
    float: left;
}

header>.right {
    float: right;
}

.link {
    padding: 13px;
    color: #48B04C;
    text-decoration: none;
    font-size: medium;
}

.link:hover {
    cursor: pointer;
}

.top_link:hover {
    background-color: rgba(150,150,150,.15);
}

footer {
    width: 100%;
    margin: auto;
    margin-top: 3%;
}