/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: #eeeeff;
    color: #2d2d2d;
    font-family: sans-serif;
}

.wrap{
    margin-top: 25px;
}

.wrap>div{
    padding: 10px;
    background-color: #ddddff;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.btn {
	color: black;
    border: 1px #000 solid;
    padding: 6px;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    background-color: #eeeeff;
    font-family: sans-serif;
}

.btn {
	height: 34px;
    border-radius: 5px;
    font-family: sans-serif;
}

.btn:hover {
    background-color: #007aff;
    border-color: #007aff;
    cursor: pointer;
}

form {
    font-size: large;
}

.email,
.password{
    font-size: large;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 1px;
}

.email:hover,
.email:active,
.email:focus,
.password:hover,
.password:active,
.password:focus{
    border-color: #007aff;
    outline: none;
}

.headline{
    font-size: x-large;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
}

.header{
    font-weight: bold;
    border-top: solid 1px;
}

.cell {
	width: 100px;
	height: 30px;
    padding: 0px 10px 0px 10px;
    border: solid 1px;
}

.field{
  margin-bottom: 0.65em;
}

#current_user>div,
#input>div,
#output>div,
#login_status>div {
    top: 2em;
    right: 2em;
    line-height: 3em;
}

#current_user>div{
    width: 25%;
}

#input>div{
    width: 80%;
}

#output>div{
    width: 40%;
}

#login_status>div {
	width: 20%;
}