// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-size: large;
	font-weight: bold;
}

#periodic-top>table {
	width: 60%;
	border-collapse: collapse;
	display: table;
	margin: auto;
}

.img_cell,
.title_cell {
	font-size: small;
	height: 30px;
	padding: 5px;
}

.img_cell {
	width: 100px;
}

.title_cell,
.req_cell,
.date_cell {
	font-size: small;
	width: 80%;
	text-align: left;
}

.row_header {
	font-weight: bold;
}

#search {
	margin-top: 3%;
}

#search>div {
	width: 60%;
}

#search_field {
	text-indent: 8px;
	vertical-align: top;
	display: table-cell;
	height: 30px;
	font-size: large;
    border-color: #48B04C;
    border-style: solid;
    border-width: 1%;
    width: 79%;
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.15);
}

#search_field:hover,
#search_field:active,
#search_field:focus {
    outline: none;
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.15);
}

#search_form {
	width: 80%;
	display: inline-table;
	border-collapse: collapse;
}

#search_button {
	border-collapse: collapse;
	display: table-cell;
    border-style: none;
	color: white;
    text-decoration: none;
    font-size: 95%;
    background-color: #48B04C;
    font-family: sans-serif;
	height: 36px;
    font-family: sans-serif;
    width: 19%;
}

#search_button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(72,176,76,1) 0%, rgba(92,196,96,1) 100%);
}

#no_results {
	font-size: x-large;
	margin: 30px;
}

.tab {
	padding: 5px;
	border: solid;
	/*
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	*/
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-color: #48B04C;
	background-color: #48B04C;
	color: #FFFFFF;
	font-size: medium;

}

.tab:hover {
	color: #48B04C;
	background-color: #FFFFFF;
	cursor: pointer;
}

.square {
	display: inline-block;
	height: 90px;
	width: 90px;
	background-color: #48B04C;
	margin: 5px;
	color: white;
	border: solid #48B04C 1px;
}

.square:hover {
	color: #48B04C;
	background-color: #FFFFFF;
	cursor: pointer;
}	

.top {
	display: inline-table;
}

#divider {
	width: 20%;
}

.label {
	font-size: small;
	margin-top: 20px;
}

.count {
	margin-top: 20px;
}