// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-size: large;
	font-weight: bold;
}

body {
	background-color: #fcfcfc;
}

table {
	width: 95%;
	border-collapse: collapse;
	display: table;
	margin: auto;
}

.img_cell,
.title_cell {
	height: 30px;
	padding: 5px;
}

.img_cell {
	width: 100px;
}

.title_cell {
	width: 500px;
	text-align: left;
}

.row_header {
	font-weight: bold;
}

#google {
	font-size: xx-large;
}

#search>div {
	width: 45%;
}

#search_field {
	vertical-align: top;
	display: table-cell;
	height: 30px;
	width: 80%;
	font-size: large;
    border-color: #48B04C;
    border-style: solid;
    border-width: 2px;
}

#search_field:hover,
#search_field:active,
#search_field:focus {
    outline: none;
}

#search_form {
	width: 100%;
	display: inline-table;
	border-collapse: collapse;
}

#search_button {
	margin-left: -1px;
	border-collapse: collapse;
	display: table-cell;
    border-style: none;
	color: white;
    padding: 5px;
    text-decoration: none;
    font-size: large;
    background-color: #48B04C;
    font-family: sans-serif;
	height: 36px;
    font-family: sans-serif;
}

#search_button:hover {
    cursor: pointer;
}