#history>div {
    top: 2em;
    right: 2em;
    line-height: 3em;
}

#history>div {
	width: 50%;
}

.date_cell {
	width: 10px;
}

.req_cell {
	width: 50px;
}

#form>div {
	top: 2em;
    right: 2em;
    line-height: 3em;
	width: 20%;
}